.counter_main{
  //background-image: linear-gradient(to right bottom, #727275, #8c9093, #a8afb0, #c8cecb, #eceee8);
    text-align: center;
    letter-spacing: 3px;
    font-weight: 300;
    padding-top:2%;
    height: 37vh;
    background-color: rgba(105, 105, 105, 0.4);
}

.counter_title{
    color: white;
}
.outer_counter_main{
    position: relative ;
}
