.post-list {
    margin-top: 2%;
    padding: 1% 2%;

    //for effect
    transition: 1s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.post-list:hover{
        transform: translateY(-13px);
       box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
      transition:  0.2s linear;
       border-top: 1px solid #f8f8f8;
       background: #fff;
}
.post-list .img-box {
    text-align: center;
}

.post-list .img-box img {
    max-width: 70%;
}

.post-list-title {
    font-size: 110%;
}

.post-list-date {
    padding-left: 2%;
    font-size: 80%;
}
.post-list-desc h5{
    text-align: left;
}

.post-short {
    font-size: 80%;
    /* text-align: justify; */
    letter-spacing: 1px;
    word-spacing: 1px;

    /* Setting maxium of 5 lines; 18px * 5 lines = 90px */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 19px;
    /* fallback */
    max-height: 90px;
    /* fallback */
    -webkit-line-clamp: 4;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}