
.section-login {
    padding-top: 5%;
    padding-bottom: 5%;
    
    height: 80%;
    //background: #283048;
    /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #859398, #283048);
    /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #859398, #283048);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: white;
}

.login-card {
    padding-top: 5%;
}

.login-card h4 {
   // color: #fff;
    font-weight: bold;
}

.login-card h4::after {
    margin-top: 2%;
}

.login-card .card {
    border-radius: 5%;
    padding: 5% 0 5% 0;
    //box-shadow: 2px 2px 10px #000;
    //background: #536976;
    /* fallback for old browsers */
    //background: -webkit-linear-gradient(to left, #292E49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to left, #292E49, #536976);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);
    background: rgba(241, 241, 241, 0.4);
}

.login-card .form-group {
    padding: 1% 10%;
}

// body.modal-open> :not(.modal) {
//     -webkit-filter: blur(1px);
//     -moz-filter: blur(1px);
//     -o-filter: blur(1px);
//     -ms-filter: blur(1px);
//     filter: blur(1px);
//     -webkit-filter: blur(5px) opacity(70%);
// }

#forgotPasswordModal .modal-content {
    padding: 5%;
}

#signupModal .modal-content {
    padding: 5%;
    box-shadow: 2px 2px 10px #a98b8b;
}

#signupModal .modal-body {
    color: #a9a9a9;
}

.modal .bg-dark {
    background: #536976;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #292E49, #536976);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #292E49, #536976);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}