.forum-title {
    text-align: center;
}
.post-date {
    padding: 0;
    font-size: 1em;
}
.dynamic-post {
    padding-bottom: 5%;
}
.dynamic-post p {
    text-align: justify;
    font-size: 1em;
    font-weight: 300;
    line-height: 145%;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.dynamic-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1%;
}
.dynamic-post .blockquote-footer {
    text-align: left;
    padding-left: 5%;
}.forum-title {
    text-align: left;
}
.dynamic-post {
    padding-bottom: 5%;
}
.dynamic-post p {
    text-align: justify;
    font-size: 1em;
    font-weight: 300;
    line-height: 145%;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.dynamic-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1%;
}
.dynamic-post .blockquote-footer {
    text-align: left;
    padding-left: 5%;
}